<div class="row">
  <div class="col-md-6">
    <div class="jumbotron jumbotron-fotografo">
    </div>
  </div>
  <br>
  <div class="col-md-6">
    <blockquote>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cumque, autem veritatis, facere sapiente deleniti voluptatem impedit totam iure excepturi nostrum accusamus blanditiis dolore eum reiciendis ullam et ea. Dignissimos?</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
    <blockquote>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cumque, autem veritatis, facere sapiente deleniti voluptatem impedit totam iure excepturi nostrum accusamus blanditiis dolore eum reiciendis ullam et ea. Dignissimos?</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <blockquote>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cumque, autem veritatis, facere sapiente deleniti voluptatem impedit totam iure excepturi nostrum accusamus blanditiis dolore eum reiciendis ullam et ea. Dignissimos?</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
    <blockquote>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cumque, autem veritatis, facere sapiente deleniti voluptatem impedit totam iure excepturi nostrum accusamus blanditiis dolore eum reiciendis ullam et ea. Dignissimos?</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>

  <div class="col-md-6">
    <div class="jumbotron jumbotron-camara">
    </div>
  </div>
  <br>
</div>