<div class="jumbotron jumbotron-welcome">
  <h2>Welcome to the Photo Management App!</h2>

  <% if current_user %>
    <p class="lead">
      Share some photos with the community and grow up as an artist!
    </p>
  <% else %>
    <p class="lead">
      You'll love managing your Photos with our application. Sign up!
    </p>
  <% end %>
</div>

<% if current_user %>
  <%= render 'welcome/profile_stats' %>
  <%= render 'welcome/jumbotrons' %>
<% else %>
  <%= render 'layouts/plans' %>
<% end %>

