.custom-font{
	font-family: 'Helvetica Neue' !important;
	font-stretch: expanded;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.navbar{
	border-radius: 0px !important; 
}
.table {
	margin: auto;
	width: 70% !important;
	th{
		text-align: center !important;
	}
	td{
		text-align: center !important;
	}
}

.navbar{
	margin-bottom: 0px !important;
}

.user-name {
	padding-top: 7px !important;
	text-align: center;
	border-radius: 10px !important; 
	a {
		padding: 5px!important;
	}

	a:hover, a:focus {
		color: #000 !important;
	}
}

.logout {
	padding-left: 0;
	padding-bottom: 7px !important;
}

.nav.navbar-right {

	padding-top: 5px;
}

.nav.navbar-nav {
	.navbar-link {
		border-radius: 5px;
		color: #fff;
		margin-top: 15px;

	}

	.navbar-link:focus, .navbar-link:hover {

		background: #3071a9;

		color: #fff;

	}

	li a {

		

	}

}

.nav.navbar-right li {

	.btn {

	color: #fff !important;

	margin-top: 5%;

}

	.btn-danger:hover, .btn-danger:focus {
		background-color: darken(#d9534f,20%) !important;
	}

	.btn-primary:hover, .btn-primary:focus {
		background-color: darken(#428bca,20%) !important;
	}

}

.btn-primary:visited, .btn-danger:visited {
	color: #fff;
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron-welcome {
  text-align: center;
  background-image: asset-url('jumbotron-2.jpg');
  background-size: auto;
  height: 200px;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

}

.jumbotron-fotografo{
	margin-top: 20px;
	background-image: asset-url('fotografo.jpg') !important;
	background-size: auto;
	height: 400px;
	color: #fff;
	font-family: 'Helvetica Neue' !important;
	font-stretch: expanded;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.jumbotron-camara{
	margin-top: 20px;
	background-image: asset-url('camara.jpg') !important;
	background-size: auto;
	height: 400px;
	color: #fff;
	font-family: 'Helvetica Neue' !important;
	font-stretch: expanded;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}